@using CaptchaMvc.HtmlHelpers;
@using CaptchaMvc;
@using WebSiteBanHang.Models;
@model ThanhVien
@{
    ViewBag.Title = "DangKy";
    Layout = "~/Views/Layout/ProductLayout.cshtml";
}
<script>

    $(document).ready(function () {
            alert('@ViewBag.ThongBao');
    });

</script>
<div class="DangKy">
    <div class="register">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <h1>Đăng kí thành viên</h1>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="col-md-5 register-top-grid">
                <h3>Thông tin cá nhân</h3>
                <div>
                    @Html.LabelFor(model => model.TaiKhoan)
                    @Html.TextBoxFor(model=>model.TaiKhoan)
                    @Html.ValidationMessageFor(model=>model.TaiKhoan)
                </div>
                <div>
                    <span>Họ tên</span>
                    @Html.TextBox("HoTen")
                </div>
                <div>
                    <span>Địa chỉ</span>
                    @Html.TextBox("DiaChi")
                    @Html.ValidationMessageFor(model => model.DiaChi)
                </div>
                <div>
                    <span>Email</span>
                    @Html.TextBox("Email")
                </div>
            </div>
            <div class="col-md-4 register-bottom-grid">
                <h3>Thông tin đăng nhập</h3>
                <div>
                    <span>Mật khẩu</span>
                    @Html.Password("MatKhau")
                    @Html.ValidationMessageFor(model => model.MatKhau)
                </div>
                <div>
                    <span>Nhập lại mật khẩu</span>
                    @Html.Password("MatKhau")
                    @Html.ValidationMessageFor(model => model.MatKhau)
                </div>
                <div>
                    <span>Câu hỏi bí mật</span>
                    @Html.DropDownList("CauHoi")
                </div>
                <div>
                    <span>Câu trả lời</span>
                    @Html.TextBox("CauTraLoi")
                    @Html.ValidationMessageFor(model => model.CauTraLoi)
                </div>
                <div style="display:none">
                    <span>Mã loại thành viên</span>
                    @Html.TextBoxFor(model => model.MaLoaiTV, new { @Value = "3" })
                    @Html.ValidationMessageFor(model => model.MaLoaiTV)
                </div>
                <div>
                    @Html.MathCaptcha()
                </div>
                <input type="submit" value="Xác nhận">
            </div>
            //<div class="clearfix"> </div>
            <div>
                <h1 style="color:red">@ViewBag.ThongBao</h1>
            </div>
        }
    </div>
</div>


